<div class="head-clas common-nav align-center clearfix" id="common_nav">
    <a class="head-box" href="{:url('index/index')}">
      <img src="/static/index/img/icon-home.png" class="head-icon" width="40" height="40" alt="" />
      <p class="head-title">首页</p>
    </a>
    <a class="head-box" href="{:url('index/stack')}">
      <img src="/static/index/img/icon-kind.png" class="head-icon" width="40" height="40" alt="" />
      <p class="head-title">书库</p>
    </a>
    <a class="head-box" href="{:url('index/search')}">
      <img src="/static/index/img/icon-searching.png" class="head-icon" width="40" height="40" alt="" />
      <p class="head-title">搜索</p>
    </a>
    <a class="head-box" href="{:url('user/charge')}">
      <img src="/static/index/img/icon-charge.png" class="head-icon" width="40" height="40" alt="" />
      <p class="head-title">充值</p>
    </a>
    <a class="head-box" href="{:url('user/center')}">
      <img src="/static/index/img/icon-person.png" class="head-icon" width="40" height="40" alt="" />
      <p class="head-title">个人中心</p>
    </a>
  </div>
  <div class="common-bg" id="common_bg"></div>